/** 
 * Pod6 customs
 */
 pre {
  padding: 9.5px;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  background-color:  #f8f8f8;
  // border: 1px solid  #ccc;
  line-height: initial;
  border-radius:  4px;
}

code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

table {
  word-break: normal;
  min-width: 70%;
  max-width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}
table caption {
  margin-bottom: 0.8em;
}
tr th {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
td {
padding: 8px;
}

.footnote a {
  text-decoration: none;
}
.footnotes {
border-top-style: solid;
border-top-width: 1px;
border-top-color: #eee;
}


@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

}
